.firstsection {
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/new-coca-cola-slogan-section-homepage-desktop-1600.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

main {
    #menu {
        margin-top: 70px;
        width: 20%;
        height: 100%;
        background-color: black;
        opacity: 0.8;
        position: fixed;
        align-items: center;
        display: none;
        z-index: 2;

        ul {
            margin: 100px 20px;
            gap: 40px;
            display: flex;
            flex-direction: column;

            li {
                a {
                    color: white;
                }

                a:hover {
                    border-bottom: 1px solid red;
                    padding-bottom: 10px;
                }
            }
        }
    }

    #menu.active {
        display: block;
    }
}

.secondsection {
    width: 100%;
    min-height: 10vh;
    margin-top: -25px;
    overflow: hidden;

    .cards1 {
        width: 100%;
        display: flex;
        overflow: hidden;

        .cards1left {
            overflow: hidden;
            width: 58%;
            height: 60vh;
            background-image: url(../imgs/card1img.jpg);
            background-size: cover;
            background-repeat: no-repeat;

        }

        .cards1left:hover {
            transform: scale(1.1);
            transition: 1.5s all ease;
            overflow: hidden;
        }

    }

    .cards1right {
        display: flex;
        flex-direction: column;
        width: 42%;
        height: 60vh;
        overflow: hidden;

        #card2 {
            width: 100%;
            height: 30vh;
            background-image: url(../imgs/card2img.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
        }

        #card2:hover {
            transform: scale(1.1);
            transition: 1.5s all ease;
            overflow: hidden;
        }

        #card3 {
            width: 100%;
            height: 30vh;
            background-image: url(../imgs/card3img.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
        }

        #card3:hover {
            transform: scale(1.1);
            transition: 1.5s all ease;
            overflow: hidden;
        }

    }

    .cards2 {
        width: 100%;
        height: 60vh;
        display: flex;
        overflow: hidden;

        #card4 {
            width: 33%;
            height: 60vh;
            background-image: url(../imgs/card4img.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
        }

        #card4:hover {
            transform: scale(1.1);
            transition: 1.5s all ease;
            overflow: hidden;
        }

        #card5 {
            width: 33%;
            height: 60vh;
            background-image: url(../imgs/card5img.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
        }

        #card5:hover {
            transform: scale(1.1);
            transition: 1.5s all ease;
            overflow: hidden;
        }

        #card6 {
            width: 34%;
            height: 60vh;
            background-image: url(../imgs/card6img.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
        }

        #card6:hover {
            transform: scale(1.1);
            transition: 1.5s all ease;
            overflow: hidden;
        }
    }
}

.thirdsection {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .thirdsectionmain {
        width: 70%;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;

        .lists {
            width: auto;
            height: auto;

            ul {
                gap: 80px;
                justify-content: center;
                align-items: center;
                display: flex;

                li {
                    font-size: 25px;

                    a {
                        color: black;
                        font-weight: bold;
                    }

                    a:hover {
                        color: red;
                    }
                }
            }
        }

        .icons {
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            gap: 50px;

            i {
                width: 60px;
                height: 60px;
                border-radius: 100%;
                border: 1px solid rgb(84, 82, 82);
                color: rgb(113, 109, 109);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 28px;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 996px) {
    .secondsection {
        flex-direction: column;

        .cards1 {
            flex-direction: column;

            .cards1left {
                width: 100%;
                height: 45vh;
                background-position: center;
            }

        }

        .cards1right {
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            height: 90vh;

            #card2 {
                height: 45vh;
            }

            #card3 {
                height: 45vh;
            }

        }

        .cards2 {
            height: 135vh;
            flex-direction: column;

            #card4 {
                width: 100%;
                height: 45vh;
            }

            #card4:hover {
                transform: scale(1.1);
                transition: 1.5s all ease;
                overflow: hidden;
            }

            #card5 {
                width: 100%;
                height: 45vh;
            }

            #card5:hover {
                transition: 1.5s all ease;
            }

            #card6 {
                width: 100%;
                height: 45vh;
            }

            #card6:hover {
                transition: 1.5s all ease;
            }
        }
    }

    .thirdsection {
        .thirdsectionmain {
            width: 80%;
            height: 40vh ;
            gap: 40px;

            .lists {
                ul {
                    gap: 60px;
                    li {
                        font-size:18px;
                    }
                }
            }

            .icons {
                gap: 40px;

                i {
                    width: 40px;
                    height: 40px;
                    font-size: 20px;
                }
            }
        }
    }
}